<!-- <section  class="best-restaurants"></section> -->
<section id="most-liked" class="most-liked flex overflow-x-auto flex-col items-center w-full px-8">
    <h1 class="text-2xl text-orange-500 my-4">The most liked foods</h1>
                        
    <div id="food-carousel" class="food-caroussel px-4 py-8 space-x-4  w-[80%] flex w-full justify-center space-x-2" data-carousel="slide" id="product-caroussel">
        <!-- TARO SAUCE JAUNE -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/taro_sauce_jaune.jpg' %}" alt="Taro sauce jaune">
            <h3 class="title text-slate-600">Taro sauce jaune (Bamenda)</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
        <!-- KOKI PLANTAIN MUR -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/koki_plantain_mur.jpg' %}" alt="koki plantain mur">
            <h3 class="title text-slate-600">Koki et plantain mur (Ouest)</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
        <!-- WATAFUFU AND ERU -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/watafufu-eru.jpg' %}" alt="watafufu and eru">
            <h3 class="title text-slate-600">Watafufu and eru (Ouest)</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
        <!-- NDOLE PLANTAIN MUR -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/ndole_plantain.jpeg' %}" alt="Ndole et plantain mur">
            <h3 class="title text-slate-600">Ndole et plantain mur (Ouest)</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
        <!-- POISSON BRAISE -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/poisson_braise.jpeg' %}" alt="poisson braisé">
            <h3 class="title text-slate-600">Posson braisé</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
    </div>
</section><section id="most-liked" class="most-liked flex overflow-x-auto flex-col items-center w-full px-8">
    <h1 class="text-2xl text-orange-500 my-4"><span class="text-6xl">What</span> our clients like <span class="font-bold">the most</span></h1>
                        
    <div id="food-carousel" class="food-caroussel px-4 py-8 space-x-4  w-[80%] flex w-full justify-center space-x-2" data-carousel="slide" id="product-caroussel">
        <!-- TARO SAUCE JAUNE -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/taro_sauce_jaune.jpg' %}" alt="Taro sauce jaune">
            <h3 class="title text-slate-600">Taro sauce jaune (Bamenda)</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
        <!-- KOKI PLANTAIN MUR -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/koki_plantain_mur.jpg' %}" alt="koki plantain mur">
            <h3 class="title text-slate-600">Koki et plantain mur (Ouest)</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
        <!-- WATAFUFU AND ERU -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/watafufu-eru.jpg' %}" alt="watafufu and eru">
            <h3 class="title text-slate-600">Watafufu and eru (Ouest)</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
        <!-- NDOLE PLANTAIN MUR -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/ndole_plantain.jpeg' %}" alt="Ndole et plantain mur">
            <h3 class="title text-slate-600">Ndole et plantain mur (Ouest)</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
        <!-- POISSON BRAISE -->
        <article class="flex max-w-80 min-w-80 flex-col p-4 items-center shadow-gray-400 shadow-xl">
            <img src="{% static 'images/poisson_braise.jpeg' %}" alt="poisson braisé">
            <h3 class="title text-slate-600">Posson braisé</h3>
            <div class="stars-block flex text-yellow-500 items-center space-x-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </article>
    </div>
</section>