:root{
    --width: 120px;
    --padding: 7px;
    --height: var(--width) / 2 + var(--padding);
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.63)), url('../images/fries_and_pepper.jpg');
    background-size: cover;
}
header ul li a {
    position: relative;
}
header ul li a::before  {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: white;
}
header ul li a:hover::before {
    width: 100%;
    transition: .5s;
}

.hero-text {
    font-size: calc(15px + 6vw);
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 4px;
    color: transparent;
    text-align: center;
}

.contact-us {
    /* background: linear-gradient(rgba(255, 166, 0, 0.368),rgba(255, 166, 0, 0.1)), url('../images/restaurant.jpg'); */
    background: url("../images/restaurant.jpg");
    background-size: cover;
}

.contact-us form {
    background: rgba(255, 166, 0, 0.253);
    background: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.575));
}

header.mobile {
    background: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.575));
    background: white;
}





.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    border: none;
    z-index: 999999999;
    background: none;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position:absolute;
    top : 0;
    left: -5px;
    width: 24px;
    height: 4px;
    background: white;
    transform: rotate(0);
    transition: all 0.5s;
    border-radius: 3px;
}

.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(7px);
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-7px);
}

.open .hamburger-middle{
    display: none;
}
/* 
.section-content{
    width: calc(100% - 45px);
    background: url("../../public/images/app/phone_logo.png");
} */


.menu-btn-side .hamburger-top,
.menu-btn-side .hamburger-middle,
.menu-btn-side .hamburger-bottom{
    background: black;
    background: white;
}
.menu-btn-side.open .hamburger-top,
.menu-btn-side.open .hamburger-middle,
.menu-btn-side.open .hamburger-bottom{
    background: black;
    /* background: white; */
}


/* html.dark #menu-btn-side .hamburger-top,
html.dark #menu-btn-side .hamburger-middle,
html.dark #menu-btn-side .hamburger-bottom{
    background: white;
} */


.footer-content {
    flex-wrap: wrap;
}

@media screen and (max-width : 504px) {
    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        padding-left: 40px;
    }
    .footer-content form {
        display: flex;
        flex-direction: column;
    }
    .footer-content form button {
        width: fit-content;
        margin-top: 4px;
        align-self: right;
    }
}
@keyframes scroll {
    0%{transform: translateX(0%);}   
    100%{transform : translateX(-100%);}
}


.food-caroussel {
    animation : scroll 15s linear infinite;
    /* background: red; */
}